body, h1, h2, h3, h4, h5, h6, .navbar-custom { 
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

/***************
 * テーマ上書き
 ***************/
.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 0%;
}

@media screen and (max-width: 768px) {
  .centered .about h2 {
    font-size: 2.4rem;
  }
}
